body{
    background-color: #9ab7b7;
}
.main {
    padding: 5% 10% 5% 10%;
}

.container {
    background-color: #e5f3f5;
    border-radius: 10px;
    padding: 10px;
}

.header {
    margin-bottom: 50px;
}

.currency-item {
    border: 1px solid;
    border-radius: 5px;
    display: flow-root;
    padding: 5px;
    width: 92px;
    margin: 5px;
    display: inline-block;
    background-color: #f7f7f7;
}

.currency-item:hover {
    cursor: pointer;
    background-color: #B4D4EF;
}

.currency-name-p {
    font-size: 16px;
    margin: 0 !important;
    font-weight: 600;
}

.currency-value-p {
    float: right;
    margin: 0 !important;
}

#date {
    float: right;
}

.loader {
    display: none;
    margin-left: 50%;
}

.overflow {
    height: 200px;
}